.Order {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  position: relative;
  background-color: #efefef;
  font-size: 14px;
}

.Order + .Order {
  margin-top: 11px;
}

.Order + .Order::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: -6px;
  left: 0;
  border-top: 1px dashed #ccc;
}

.Order__field_price {
  margin-left: auto;
}

.Order__field_date {
  width: 100%;
  margin-top: 10px;
}

.Order__field-title {
  margin-right: 5px;
  font-weight: 600;
}
