.App {
  display: flex;
  align-items: flex-start;
  width: 740px;
  min-height: 100vh;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.App__wrapper {
  flex: 0 0 65%;
  padding-right: 20px;
}

.App__button {
  min-width: 130px;
  height: 34px;
  padding: 0 12px;
  border: 1px solid #1a1ac3;
  background-color: #1a1ac3;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.App__button:disabled {
  border-color: #ccc;
  background-color: #eee;
  color: #bebebe;
  cursor: not-allowed;
}

.App__button + .App__button {
  margin-left: 10px;
}
